.centered {
  text-align: center;
}

.app-image {
  max-height: 256;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.login {
  margin-top: 40px;
  padding-left: 30%;
  padding-right: 30%;
}

.zoom {
  transition: transform .2s;
  z-index: 0;
}

.zoom:hover {
  transform: scale(1.2);
  z-index: 1;
}

.custom:hover {
  background-color: #5de6de;
  background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
  color: white;
}

.dark:hover {
  background-color: #343A40;
  color: white;
}

.light:hover {
  background-color: #F8F9FA;
  color: black;
}

.nav-var-custom {
  background-color: #5de6de;
  background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
  color: black;
}

.nav-var-dark {
  background-color: #343A40;
  color: white;
}

.nav-var-light {
  background-color: #F8F9FA;
  color: black;
}

.mainbar {
  background-color: #5de6de;
  background-image: linear-gradient(315deg, white 0%, #b58ecc 40%);
}

i {
  margin-left: 5px;
  margin-right: 5px;
  font-size: larger;
}
